# Background

I'm testing the English language capabilities of EmotiVoice, and seeing what the various voices sound like. These are my entirely subjective opinions and categorizations, 
based on a US-centric worldview.

Many of the voices seem to be better suited for other languages, in which case I'll put them in the "rejects" category.

# Voices

## Accepts

The descriptions listed are just my own completely ignorant guesses at the origin of the voices. Where things are out of order, the
ordering is a loose ranking.

1225 - male UK, good pronunciation of email addresses and such
2 - male SE Asian
3 - male UK
5 - male older man
12 - male neutral
13 - male SE Asian
20 - male neutral
14 - male neutral, kinda robotic
16 - male neutral
18 - male neutral
21 - male neutral
22 - male UK, slightly fuzzy quality
29 - male UK, very varied depending on emotional prompt
33 - male neutral, slightly fuzzy
34 - male neutral
36 - male UK, heavily accented
948 - male neutral, slightly fuzzy quality
951 - male UK, sounds a bit like XisumaVoid
973 - male neutral, high quality, melancholic
1002 - male neutral
1060 - male neutral
1090 - male neutral robot
1103 - male UK robot
1151 - male neutral, pleasant
1174 - male UK, older, slightly fuzzy
1176 - male neutral, very varied depending on emotional prompt
1205 - male neutral
1245 - male neutral
1254 - male neutral robot
1257 - male neutral
1304 - male UK
1372 - male SE Asian, high pitched
1393 - male neutral robot, bored
1436 - male neutral, bassy
1447 - male UK
1494 - male neutral, slightly robotic
1563 - male neutral, high quality and slightly robotic
1595 - male neutral, slightly fuzzy, slightly fast talker
1614 - male neutral, slow talker, very varied depending on emotional prompt
1627 - male UK, slightly fuzzy
1665 - male neutral, high quality and expressive with the emotional prompts
1680 - male neutral, slightly fuzzy
1708 - male neutral robotic
1726 - male UK, pleasant
1791 - male neutral
2009 - male neutral, slightly fuzzy, a bit aggressive
2010 - male neutral robot
2011 - male neutral, slightly fuzzy
2012 - male neutral, slightly fuzzy


1 - female Pacific Islander
8 - female UK
6 - female UK
7 - female SE Asian
9 - female neutral
11 - female neutral
17 - female SE Asian
19 - youthful female neutral
23 - youthful female neutral
24 - female neutral
25 - female neutral, high quality
26 - female neutral, high quality
28 - female neutral, high quality
30 - female neutral, expressive with the emotional prompts
32 - female neutral
35 - female neutral
37 - female Irish
1031 - female SE Asian
1045 - female neutral
1124 - female neutral, slightly fuzzy quality and fast speaking
1129 - female Indian, slightly fuzzy
1192 - female Pacific Islander
1198 - female neutral
1223 - female neutral
1251 - female neutral, super bored sounding
1284 - female neutral
1313 - female neutral
1342 - female UK
1344 - female neutral, high quality
1359 - female neutral, raspy and expressive with the emotional prompts
1461 - female neutral, high quality
1580 - female neutral, slightly fuzzy quality
1611 - female neutral
1651 - female neutral
1700 - female neutral
2008 - female neutral
2013 - female neutral robotic

## Rejects

0
4
10
15
27
1534
